head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title KAWAI DESIGN
  link(rel='stylesheet' href='css/style.css')
  link(rel='icon' href='image/favicon.svg' type='image/svg+xml')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
  link(href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap' rel='stylesheet')
  link(href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' rel='stylesheet')