      nav.nav
        section(class='nav__wrapper')
          ul(class='nav__ul')
            li(class='nav__list js-modal-open')
              a(href='#')
                i.far.fa-user-circle.fa-lg
            li(class='nav__list')
              a(href='https://www.instagram.com/kawai_design_ig/')
                i.fab.fa-instagram.fa-lg
            li(class='nav__list')
              a(href='https://twitter.com/kawai_design')
                i.fab.fa-twitter.fa-lg
            li(class='nav__list js-mail-open')
              a(href='#')
                i.far.fa-envelope.fa-lg